/* Navigation */
.header {
  width: 100%;
  height: 70px;
  background-color: var(--white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 3px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.container {
  width: 90%;
  margin: 0 auto;
  /* line-height: 70px; */
}
.dFlex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header .logo img {
  width: 50px;
}
.mainMenu {
  display: flex;
}
.mainMenu li {
  padding: 0 20px;
}
.mainMenu li a {
  color: var(--black);
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  font-weight: 600;
  letter-spacing: 0.8px;
}
.mainMenu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  display: inline-block;
  width: 0;
  background-color: var(--green);
  height: 3px;
  transition: all 0.4s;
}
.mainMenu li a:hover::after {
  width: 100%;
}
.mainMenu li a.active {
  color: var(--green);
}
.socialMediaIcon {
  font-size: 20px;
}
.socialMediaIcon:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
@media screen and (max-width: 768px) {
  .mainMenu li {
    padding: 0 15px;
  }
  .socialMediaIcon {
    display: none;
  }
}

/* hero section */
.hero {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
  top: 70px;
  background: url("../img/h5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.hero .content .title {
  color: var(--white);
  font-weight: 700;
  font-size: 50px;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 1px;
}
.hero .content .subTitle {
  font-size: 30px;
  color: var(--white);
  margin: 10px 0;
}
.hero .content .btn {
  padding: 20px 20px;
  background-color: var(--green);
  /* display: inline-block; */
  margin-top: 20px;
  border-radius: 50px;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  z-index: 1;
  display: inline-block;
}
.hero .content .btn:hover {
  background-color: #648023;
  color: var(--white);
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 768px) {
  .hero .content .title {
    font-size: 40px;
  }
  .hero .content .subTitle {
    font-size: 25px;
  }
  .hero .content .btn {
    padding: 20px 20px;
    background-color: var(--green);
    /* display: inline-block; */
    margin-top: 20px;
    border-radius: 50px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

/* section aktivitaeten */
.aktivitaeten {
  width: 100%;
}
.aktivitaeten .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  position: relative;
  margin: 50px 0;
}
.aktivitaeten .row .col-6 img {
  width: 60%;
  margin: 0 auto;
}
.text .events{
  color: #fff;
  background-color: var(--green);
  outline: none;
  display: block;
  margin-top: 30px;
  padding: 18px 40px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.text .events:hover{
  background-color: #648023;
  color: var(--white);
  transition: 0.4s;
}
@media screen and (max-width: 768px) {
  .aktivitaeten .row {
    grid-template-columns: 1fr;
    grid-auto-flow: wra;
  }
  .row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

/* vorstand */
.vorstand {
  width: 100%;
  background-color: var(--green);
}
.vorstand .underTitle {
  font-size: 35px;
  text-align: center;
  position: relative;
  color: var(--white);
}
.vorstand .underTitle::after {
  content: "";
  width: 20%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  height: 4px;
  background-color: var(--white);
  margin: 0 auto;
  bottom: -10px;
}
.vorstand .container {
  width: 90%;
}
.vorstand .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 70px;
  width: 100%;
}
.vorstand .row .col-3 {
  /* width: 100%;   */
  text-align: center;
  line-height: 30px;
  margin: 20px 20px;
}
.vorstand .row .col-3 img {
  width: 100%;
  /* padding: 20px; */
  border-radius: 50%;
}
.vorstand .row .col-3 .name {
  color: var(--white);
  font-size: 20px;
}
.vorstand .row .col-3 .job {
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .vorstand .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .vorstand .row .col-3 img {
    padding: 0;
  }
  .vorstand .row .col-3 .name {
    font-size: 18px;
  }
}

/* goenner section */
.goenner .row {
  width: 70%;
  margin: 0 auto;
}
.goenner .row img {
  width: 100%;
}
hr {
  width: 70%;
  margin: 30px auto;
}

/***************** BILDER PAGE *****************/
.linksImg {
  position: relative;
  top: 70px;
}
.linksImg .row {
  display: flex;
  justify-content: center;
}
.linksImg .row a {
  padding: 0 30px;
  text-transform: uppercase;
  color: var(--green);
  font-weight: 700;
}
.bilder h3{
    font-size: 25px;
    color: var(--green);
    text-align: center;
    position: relative;
    margin-top: 30px;
}
.bilder h3::after {
    content: "";
    width: 10%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    height: 2px;
    background-color: var(--green);
    margin: 0 auto;
    bottom: -10px;
  }
.bilder .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.bilder .row .col-4{
    margin-top: 30px;
}
.bilder .row img{
    width: 100%;
}

@media screen and (max-width: 768px){
  .linksImg {
    top: 40px;
  }
    .linksImg .row a {
        padding: 0 10px;
      }
    .bilder .row{
        grid-template-columns: 1fr;
        gap: 10px;

    }
    .linksImg .row a {
      display: none;
    }
    .bilder .row .col-4{
      margin-top: 10px;
  }
}
/***************** CONTACT PAGE *****************/

.contactHero {
  width: 100%;
  height: 400px;
  background: url("../img/h1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* cortact form */
.contact .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.contact .adress {
  margin-bottom: 30px;
}
.contact .adress p {
  margin-top: 20px;
}
iframe {
  border-radius: 10px;
}

.col-6-right .form h4 {
  margin-bottom: 20px;
}

.col-6-right .form .form-control {
  line-height: 50px;
}
.form-control .input-form {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid var(--green);
}
.form-control .input-form:focus {
  outline: none;
}
.form-control textarea {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid var(--green);
}
.form-control textarea:focus {
  outline: none;
}
.form .btn {
  display: inline-block;
  width: 100%;
  padding: 15px 25px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: transparent;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--green);
  border: none;
  letter-spacing: 0.5px;
}
.form .btn:hover {
  background-color: #648023;
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .contact .row {
    grid-template-columns: 1fr;
  }
}

/* footer */
.footer {
  width: 100%;
  background-color: var(--green);
  padding: 25px 0;
  color: var(--white);
  font-size: 14px;
}
.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 768px){
    .footer .socialMediaIcon{
        display: block;
    }
    .footer .row {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 2.5;
    }
}


/* ContactFeedbackPage */
.massage{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}
.massage img{
  width: 100px;
  margin-bottom: 50px;
}
.massage h3{
  font-size: 30px;
  width: 50%;
  margin-bottom: 30px;
  line-height: 1.7;
  color: var(--black);
  font-weight: 300;

}
.massage a{
  font-weight: 700;
  color: var(--green);
}
@media screen and (max-width: 768px){
  .massage h3{
    width: 80%;
  }
}

